build
.vscode
.DS_Store
autosave.cnm
devfile.yaml
releases
settings.txt
/font-generator/font_preview.png
/font-generator/generate
/font-generator/fonts
/website/hugo/public/
/website/hugo/resources/_gen/
